@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
}

/*@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-ThinItalic.ttf) format('truetype');
    font-weight: lighter;
}*/

/*------------ header-hero section ------------*/

.header-hero {
    background-color: #1F2937;
    margin: 50px 160px 0 160px;
    padding: 20px;
    height: 470px;
    width: auto;
}
.header-nav{
    margin: 0 180px 0 180px;
}

#header-logo {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
    float: right;
}

li {
    padding: 4px 0 4px 25px;
}

#hero-main {
    margin: 110px 100px 50px 180px;
    height: 210px;
    width: 460px;
    float: left;
}

#hero-header {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    color: #f9faf8;
}

.hero-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    border: none;
    padding: 6px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#hero-image {
    background-color: #636363;
    margin: 110px 180px 50px 100px;
    padding: 10px;
    height: 200px;
    width: 480px;
    float: right;
}

#image-header {
    color: #e5e7eb;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin: 90px 0 90px 0;
}

/*------------ information section ------------*/

.info-block {
    /*background-color: red;*/
    margin: 0 160px 20px 160px;
    padding: 20px;
    height: 400px;
    width: auto;
}

#info-header {
    color: #1F2937;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}

#info-box-flex {
    position: relative;
    overflow: hidden;
    height: 215px;
    display: flex;
    justify-content: center;
}

.info-box {
    float: left;
    margin: 10px 25px 50px 25px
}

.info-box-subtext {
    position: absolute;
    bottom: 0px;
    width: 144px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    text-align: center;
}

.info-box img {
    height: 140px;
    width: 140px;
    border: solid 4px;
    border-radius: 6px;
    color: #3882f6;
}

/*------------ quote section ------------*/

.quote-block {
    background-color: #e5e7eb;
    margin: 0 160px 20px 160px;
    padding: 20px;
    height: 470px;
    width: auto;
}

#quote-text {
    color: #1F2937;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: 210px 0 30px 0;
}

#quote-author {
    color: #1F2937;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

/*------------ call to action section ------------*/

.call-to-action-block {
    background-color: transparent;
    margin: 0 160px 20px 160px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.call-to-action-background {
    background-color: #3882f6;
    height: 150px;
    width: -webkit-fill-available;
    margin: 0 225px 0 225px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.call-to-action-text {
    float: left;
    margin: 20px 80px 20px 80px;
}

#action-header {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    color: #f9faf8;
}

.action-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    color: #e5e7eb;
}

.call-to-action-button{
    float: right;
    margin: 20px 80px 20px 80px;
}

.action-button {
    background-color: transparent;
    color: #f9faf8;
    border: solid 2px;
    border-radius: 4px;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}