@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
}

h1 {
    font-family: "Roboto", sans-serif;
}

.header-hero {
    background-color: #1F2937;
    margin-left: 80px;
    margin-right: 80px;
    height: 400px;
    width: auto;
}